@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    background-color: #f9f9f9;
}

.navbar {
    width: 100%;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    position:sticky;
    z-index: 1;
}

.logo{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #7f56da;
    font-size: 20px;
    background-color:transparent;
}
.logo-white{
    color: white;
}
.sidebar {
    display: none;
    cursor: pointer;

}

.item {
    text-decoration: none;
    color: black;
    margin-right: 25px;
    font-weight: 500;

}
.active{
    color: #7f56da;
}
.item:hover{
    color: #7f56da;
}
.item-white{
    color: white;
}



.button {
    border: none;
    border-radius: 4px;
    color: white;
    background-color:#7f56da;
    padding: 8px;
    font-weight: 600;
    margin: 2px;
    width: 200px;
}
.get-button{
    border: none;
    border-radius: 5px;
    color: white;
    background-color:#7f56da;
    padding: 8px;
    font-weight: 600;
    margin: 2px;
    width: 300px;

}
.button-white{
    background-color: white;
    color: orange;

}
.contact-button {
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    font-weight: 600;
    margin: 2px;
    width: 200px;
}


.section {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.heading {
    text-align: center;
    color: black;
    font-size: 80px;
    font-family: "Dancing Script";
    line-height: normal;
}

.future {
    background-color: orange;
    color: white;
    padding: 0;
}

.resume {
    background-color: rgb(89, 89, 237);
    color: white;

}

.tagline {
    text-align: center;
    margin: 20px 200px;
}
.card p{
    background-color: white;
}

.para {
    padding: 0px 100px;
    display: flex;
    /* justify-content: space-between; */
}
.section2{
    width: 100%;
    height: 110vh;
}
.section3{
    width: 100%;
    height: 100vh;
    padding-top: 100px;

}
.section3 h1 {
    text-align: center;
    font-size: 30px;
}
.section3 p{
    text-align: center;
}
.section2 h1 {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
.section2 p{
    text-align: center;
}
.sub-sec {
    margin: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin-left: 50px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 180px;
    height: 180px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.pricing-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.pricing-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 380px;
    height: 550px;
    padding: 20px;
    border: 2px #7f56da solid;
    border-radius: 10px;
    background-color: white;
}
.pricing-card p{
    background-color: white;
    color: #43317d;
}
.price {

    font-weight: bold;
    background-color: white;
    color: #43317d;
    font-size: 40px;
}
.plan-name{
    font-weight: 500;
    font-size: 20px;
    background-color: white;
    color: #43317d;
}
ul{
    padding: 0;
}
.feature{
   list-style: none;
    line-height: 35px;
    background-color: white;
    color: #43317d;

}
.feature::before{
   content: '✅  ';

}
.footer{
    width: 100%;
    height: 250px;
    background-color: #243142;
    /* position: absolute; */
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.email{
    margin-top: 20px;
    background-color:transparent;
}
.footer-items{
    width:100%;
    height: 100%;
    display: flex;
    margin: 50px;
    gap: 100px;
    background-color:transparent;

    justify-content: center;
}
.footer-items li{
    list-style: none;
    background-color:transparent;
}

.list-item{
    text-decoration: none;
    color: white;
    background-color:transparent;
}
ul{
    background-color:transparent;
}
ul p{
    background-color:transparent;
}

.head{
    color: #43317d;
    font-size: 50px;
    text-align: center;
    display: block;
    font-weight: 500;
}
.icon{
    background-color: transparent;
}
.icon p ,strong{
    background-color:transparent;
}
.section4{
    width: 100%;
    height: 250vh;
    margin-bottom: 50px;
}
.service-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.service{
    display: flex;
    border-radius: 10px;
    width: 80%;
    height: 150px;
    border: 2px #7f56da solid;
}
.step
{
    width: 20%;
    height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #7f56da;
}
.step h1{
    color: white;
    background-color: transparent;
}
.content{
    width: 80%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.pack{

    width: 100%;
}
.pack h3{
    color: #7f56da;
    background-color: white;
    text-align: center;
    border-bottom: 2px #7f56da solid;
}
.process{
    width: 100%;
    height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}
.process p{
    color: black;
    text-align: center;
    font-weight: 500;
}

.resume-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}
.image
{
    width: 30%;
    height: 100%;
}
.resume-content{

    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}
.resume-content p{
margin: 10px 0px;
text-align: left;
}
.resume-content ul{
    margin: 10px 15px;
    text-align: left;
    }
.catlog-heading{
    color: #43317d;
    font-size: 30px;
    display: block;
    font-weight: 500;
}
@media(max-width:1070px)
{
    .get{
        display: none;
    }
}
@media(max-width:980px)
{ 
   .navbar-items{
      display: none;
   }
   .heading{
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: -80px;
    text-align: center;
    padding: 0px 40px;
   }
   .para img{
     display: none;
   }
   .para{
    padding: 20px;
   }
   .parag{
    padding: 20px;
   }
   .tagline{
    margin: 0px;
   }
   .section{
    height: 100vh;
    justify-content: center;
    /* padding: 0px 40px; */
   }
   .section2{
    height: 80vh;
    /* padding: 0px 40px; */
   }
   #section3{
    height: 330vh;
    /* padding: 0px 20px; */
   }
   .section2 h1{
    font-size: 15px;
    text-align: center;
   }
   .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
   }
   .sub-sec{
    flex-direction: column;
    margin: 0px;
   }
   .sub-img{
 display: none;
   }
   .card{
    width: 120px;
    height: 120px;
   }
   .card img{
    width: 50px;
    height: 50px;
   }
   .card p{
    font-size: 15px;
   }
   .sub-sec .content{
    flex-direction: row;
    width: 100%;
    justify-content: center;
   }
   .card-container{
    flex-direction: column;
   }
   .head{
    font-size: 25px;
    padding: 0px 20px;
   }
   .pricing-container{
    flex-direction: column;
   }
   .pricing-card{
    width:320px;
    height: 800px;
   }
   .section3{
    height: 125vh;
   }
   .image{
    display: none;
   }
   .footer{
    flex-direction: column;
    height: 100%;
    width: 100%;
   }
   .footer-items{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   }
   .step{
    padding: 0px 10px;
   }
   .step h1{
    font-size: 20px;
    text-align: center;
   }
   .pack h3{
    font-size: 18px;
   }
   .process p{
    font-size: 12px;
   }
   .section4{
    height: 170vh;
    margin-bottom: 0px;
   }
   .section3 p{
    margin-top: 20px;
   }
   .resume-container{
    padding: 0px;
   }
   .service-container{
    justify-content: center;
    gap: 40px;
   }
   .catlog-heading{
    font-size: 20px;
   }
   .footer-items ul{
    width: 300px;
   }
}